<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p style="background-color: blue; color: chartreuse;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore quod, et quae, quia labore necessitatibus amet illo animi cupiditate neque culpa natus cumque facere veniam quisquam impedit porro perspiciatis. Voluptatum.
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eaque porro corrupti quidem quibusdam pariatur nobis, enim, debitis cupiditate molestias praesentium doloribus officia voluptatibus quos laboriosam magnam beatae necessitatibus alias architecto.
    </p>
</body>
</html>